<%
	@meta = Page.find_by lcl_name: 'main'
	meta title: 	@meta.title,
	description: 	strip_html(@meta.description),
	keywords: 		@meta.keywords.gsub(" ", ",")
%>

<%= render_partial "shared/homepage_adobe_edge_runtime" %>

<div id="feature_container">
  <%= render_partial 'main/homepage/homepage_main_features' %>
</div>
<div id="homepage_news">
  <%= render_partial 'main/homepage/homepage_news' %>
</div>
<div id="homepage_product_features">
  <%= render_partial 'main/homepage/homepage_product_features' %>
</div>
<div id="homepage_mwp">
  <%= render_partial 'main/homepage/homepage_mwp' %>
</div> 
<div id="homepage_social_links">
  <%= render_partial 'main/homepage/homepage_social_links' %>
</div>
<div id="homepage_connect_with_us" align="center">
  <%= render_partial 'main/homepage/homepage_connect_with_us' %>
</div>

<%= render_partial 'shared/footer_jquery_muse' %>