<h1>Listing pressreleases</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>Date</th>
      <th>Live</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pressreleases.each do |pressrelease| %>
      <tr>
        <td><%= pressrelease.title %></td>
        <td><%= pressrelease.description %></td>
        <td><%= pressrelease.image %></td>
        <td><%= pressrelease.date %></td>
        <td><%= pressrelease.live %></td>
        <td><%= link_to 'Show', pressrelease %></td>
        <td><%= link_to 'Edit', edit_pressrelease_path(pressrelease) %></td>
        <td><%= link_to 'Destroy', pressrelease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pressrelease', new_pressrelease_path %>
