<li align="center">

<div data-tooltip aria-haspopup="true" class="has-tip tip-bottom radius" title="<%= prod.short_description %>">	
	<a href="/products/<%= prod.slug %>"><%= image_tag(prod.image.url(style), :id => "tn-prod", :class => "fade_out")  %></a>
</div>
<a href="/products/<%= prod.slug.downcase %>" class="small-text"><%= prod.name %></a>
</li>