<div  align="center">
  <a href="/images/test/placeholder_product_image_xl.png" data-lightbox="collection">
  	<%= image_tag("/images/test/placeholder_thumbnail.jpg", :id => "tn_image", :class => "hover_up")  %>
  </a>
  <a href="/images/test/placeholder_product_image_xl.png" data-lightbox="collection">
  	<%= image_tag("/images/test/placeholder_thumbnail.jpg", :id => "tn_image", :class => "hover_up")  %>
  	</a>
  <a href="/images/test/placeholder_product_image_xl.png" data-lightbox="collection">
  	<%= image_tag("/images/test/placeholder_thumbnail.jpg", :id => "tn_image", :class => "hover_up")  %>
  	</a>
  <a href="/images/test/placeholder_product_image_xl.png" data-lightbox="collection">
  	<%= image_tag("/images/test/placeholder_thumbnail.jpg", :id => "tn_image", :class => "hover_up")  %>
  	</a>
  <a href="/images/test/placeholder_product_image_xl.png" data-lightbox="collection">
  	<%= image_tag("/images/test/placeholder_thumbnail.jpg", :id => "tn_image", :class => "hover_up")  %>
  	</a>
</div>