<div class="section_bg1 row">	
	<div class="small-4 large-4 columns">
		<%= link_to(image_tag("/images/test/mwp_logo.png", alt: "Mixing with Professionals"), "#", class: "transparent") %>
	</div>
	<div class="small-2 large-2 columns" align="left">
		<div class="cf">
		<%= link_to(image_tag("/images/test/mwp_calendar_o.png", alt: "MWP Calendar", class: "bottom" ), "#", class: "transparent") %>
		<%= link_to(image_tag("/images/test/mwp_calendar.png", alt: "MWP Calendar", class: "top"), "#", class: "transparent") %>
		</div>
	</div>
	<div class="small-2 large-2 columns" align="left">
		<div class="cf">
		<%= link_to(image_tag("/images/test/mwp_training_o.png", alt: "MWP Training", class: "bottom"), "#", class: "transparent") %>
		<%= link_to(image_tag("/images/test/mwp_training.png", alt: "MWP Training", class: "top"), "#", class: "transparent") %>
		</div>
	</div>
	<div class="small-2 large-2 columns" align="left">
		<div class="cf">
		<%= link_to(image_tag("/images/test/mwp_rental_o.png", alt: "Rental Companies", class: "bottom"), "#", class: "transparent") %>
		<%= link_to(image_tag("/images/test/mwp_rental.png", alt: "Rental Companies", class: "top"), "#", class: "transparent") %>
		</div>
	</div>
	<div class="small-2 large-2 columns" align="left">
		<div class="cf">
		<%= link_to(image_tag("/images/test/mwp_videos_o.png", alt: "Videos", class: "bottom"), "#", class: "transparent") %>
		<%= link_to(image_tag("/images/test/mwp_videos.png", alt: "Videos", class: "top"), "#", class: "transparent") %>
		</div>
	</div>
</div>	