<%
	@meta = Page.find_by lcl_name: 'sda'
	meta title: 	@meta.title,
	description: 	strip_html(@meta.description),
	keywords: 		@meta.keywords.gsub(" ", ",")
%>
<div class="header_bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= @meta.title %></a></li>
	</nav>
</div>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<div class="row">
<div class="small-12 columns" >
	<br>
<br>
<br>
	
SDA
<br>
<br>
</div>
</div>
